# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env

# IDE
.vscode/

# Database
*.db
*.sqlite3

# ML models (we can change this later)
*.pkl
*.joblib